#### 1: Import the dataset

In [50]:
#Import the required libraries
import pandas as pd
import numpy as np

In [51]:
#Import the advertising dataset
adv_data = pd.read_csv('E:\\Education\\Python\\Ad budget\\Advertising Budget and Sales.csv',index_col=0)

#### 2: Analyze the dataset

In [52]:
#View the initial few records of the dataset
adv_data.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [53]:
#Check the total number of elements in the dataset
print(adv_data.size)
print(adv_data.shape)

800
(200, 4)

#### 3: Find the features or media channels used by the firm

In [54]:
#Check the number of observations (rows) and attributes (columns) in the dataset
adv_data.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

In [55]:
#View the names of each of the attributes

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [58]:
#Create a feature object from the columns
x_feature = adv_data[['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)']]

In [59]:
#View the feature object
x_feature

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1               230.1                 37.8                     69.2
2                44.5                 39.3                     45.1
3                17.2                 45.9                     69.3
4               151.5                 41.3                     58.5
5               180.8                 10.8                     58.4
..                ...                  ...                      ...
196              38.2                  3.7                     13.8
197              94.2                  4.9                      8.1
198             177.0                  9.3                      6.4
199             283.6                 42.0                     66.2
200             232.1                  8.6                      8.7

[200 rows x 3 columns]

In [60]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
y_target=adv_data[['Sales ($)']]

In [61]:
#View the target object
y_target.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [62]:
#Verify if all the observations have been captured in the feature object
x_feature.shape

(200, 3)

In [65]:
#Verify if all the observations have been captured in the target object
y_target.shape

(200, 1)

#### 5: Split the original dataset into training and testing datasets for the model

In [71]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_split as tts
x_train, x_test, y_train, y_test=tts(x_feature,y_target,random_state=1)

In [73]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print(x_train.shape)
print(y_train.shape)
print(y_test.shape)
print(x_test.shape)

(150, 3)
(150, 1)
(50, 1)
(50, 3)

#### 6: Create a model  to predict the sales outcome

In [75]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linreg=LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression()

In [82]:
#Print the intercept and coefficients 
print(linreg.intercept_)
print(linreg.coef_)

[2.87696662]
[[0.04656457 0.17915812 0.00345046]]

In [89]:
#Predict the outcome for the testing dataset
y_predict=linreg.predict(x_test)
y_predict

array([[21.70910292],
       [16.41055243],
       [ 7.60955058],
       [17.80769552],
       [18.6146359 ],
       [23.83573998],
       [16.32488681],
       [13.43225536],
       [ 9.17173403],
       [17.333853  ],
       [14.44479482],
       [ 9.83511973],
       [17.18797614],
       [16.73086831],
       [15.05529391],
       [15.61434433],
       [12.42541574],
       [17.17716376],
       [11.08827566],
       [18.00537501],
       [ 9.28438889],
       [12.98458458],
       [ 8.79950614],
       [10.42382499],
       [11.3846456 ],
       [14.98082512],
       [ 9.78853268],
       [19.39643187],
       [18.18099936],
       [17.12807566],
       [21.54670213],
       [14.69809481],
       [16.24641438],
       [12.32114579],
       [19.92422501],
       [15.32498602],
       [13.88726522],
       [10.03162255],
       [20.93105915],
       [ 7.44936831],
       [ 3.64695761],
       [ 7.22020178],
       [ 5.9962782 ],
       [18.43381853],
       [ 8.39408045],
       [14.08371047],
       [15.02195699],
       [20.35836418],
       [20.57036347],
       [19.60636679]])

#### 7: Calculate the Mean Square Error (MSE)

In [90]:
#Import required libraries for calculating MSE (mean square error)
from sklearn import metrics

In [92]:
#Calculate the MSE
np.sqrt(metrics.mean_squared_error(y_test,y_predict))

1.4046514230328955

In [94]:
print('True',y_test.values[0:10])
print()
print('Pred',y_predict[0:10])

True [[23.8]
 [16.6]
 [ 9.5]
 [14.8]
 [17.6]
 [25.5]
 [16.9]
 [12.9]
 [10.5]
 [17.1]]

Pred [[21.70910292]
 [16.41055243]
 [ 7.60955058]
 [17.80769552]
 [18.6146359 ]
 [23.83573998]
 [16.32488681]
 [13.43225536]
 [ 9.17173403]
 [17.333853  ]]